<div class="footer">
    <div class="wrapper">
        <div class="line1">
            <div class="fleft">
                <div class="colmenu">
                    <div class="title">Residential <br />Property</div>
                    <a href="#">Property for Sale</a>
                    <a href="#">Help to Buy</a>
                    <a href="#">New Developments</a>
                </div>
                <div class="colmenu">
                    <div class="title">Commercial <br />Property</div>
                    <a href="#">Commercial Property</a>
                    <a href="#">Development Property</a>
                    <a href="#">Industrial Properties</a>
                    <a href="#">Offices for sale</a>
                    <a href="#">Hotels for sale</a>
                    <a href="#">Flexible office space</a>
                </div>
                <div class="colmenu">
                    <div class="title">More <br />Information</div>
                    <a href="#">Sitemap</a>
                    <a href="#">Accessibility</a>
                    <a href="#">Feedback</a>
                    <a href="#">TDS Explained</a>
                    <a href="#">Provision of Services</a>
                    <a href="#">Help to Buy Calculator</a>
                    <a href="#">Land &amp; Buildings Transaction Tax</a>
                </div>
                <div class="colmenu mob">
                    <div class="title">Contact Us</div>
                    <a href="#">+1-561-898-0724</a>
                    <a href="#">+1-561-898-0724</a>
                    <a href="#">help@xomio.com</a>
                </div>
            </div>
            <div class="fright">
                <div class="colmenu last">
                    <div class="contact">
                        <div class="title">Contact Us</div>
                        <a href="#">+1-561-898-0724</a>
                        <a href="#">+1-561-898-0724</a>
                        <a href="#">help@xomio.com</a>
                    </div>
                    <div class="soclinks">
                        <div class="title">Find us on social</div>
                        
                        <a href="#"><img src="./assets/img/images/facebook.svg" /></a>
                        <a href="#"><img src="./assets/img/images/instagram.svg" /></a>
                        <a href="#"><img src="./assets/img/images/linkedin.svg" /></a>
                        <a href="#"><img src="./assets/img/images/twitter.svg" /></a>
                        <a href="#"><img src="./assets/img/images/youtube.svg" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="line2">
            <a href="#" class="logo"><img src="./assets/img/images/logo_footer.svg" /></a>
            <div class="links">
                <a href="#">Privacy &amp; Cookies</a>
                <a href="#">Terms &amp; Conditions</a>
                <span>©2021 Xomio.com. All rights reserved</span>
            </div>
        </div>
    </div>
</div>