{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'IDX' %}

{% block content %}

  <div class="idx">
      <div class="bl4">
          <div class="idx-decor1"></div>
          <div class="idx-decor2"></div>
          <div class="wrapper">
              
              <div class="bl4left">
                  <h2>IDX in 20 Languages</h2>
                  <div class="bl4list idx-car1">
                      <div class="bl4item">
                          <div class="item-title">Setting up your IDX should be simple. With <br />Xomio, it is.</div>
                          <div class="textlist">
                              <div class="li-item">
                                  <div class="li-title">Why do other website builders make it so hard to integrate your IDX?</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                                  
                              </div>
                              <div class="li-item">
                                  <div class="li-title">The team behind Xomio have been integrating listings feeds for over 20 years, in 20 languages, and in over 60 countries</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                              </div>
                              <div class="li-item">
                                  <div class="li-title">We know everything there is to know about listings data, so we do all the hard stuff for you</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                              </div>
                              <div class="li-item">
                                  <div class="li-title">Get IDX on your site, beautifully arranged on the page in just a few clicks</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                              </div>
                          </div>
                          <div class="img">
                              <video muted playsinline autoplay >
                                  <source src="./assets/video/idx_1_1.mp4" type="video/mp4">
                                  <p>Video not supported</p>
                              </video>
                          </div>
                      </div>
                      <div class="bl4item">
                          <div class="item-title">Design, without the messy bits</div>
                          <div class="textlist">
                              <div class="li-item">
                                  <div class="li-title">Many of the biggest names in real estate rely on us for our web design skills, because we understand how to make listings shine online.</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                                  
                              </div>
                              <div class="li-item">
                                  <div class="li-title">Choose from a range of beautiful designs with clean, modern listings presentation.</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                              </div>
                              <div class="li-item">
                                  <div class="li-title">Listings data is organized on the page thematically, for a clearer consumer experience.</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                              </div>
                              <div class="li-item">
                                  <div class="li-title">Advanced features give clients the ability to find, save and share their ideal property, all from your site.</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                              </div>
                          </div>
                          <div class="img">
                              <video muted playsinline autoplay >
                                  <source src="./assets/video/idx_1_2.mp4" type="video/mp4">
                                  <p>Video not supported</p>
                              </video>
                          </div>
                      </div>
                      <div class="bl4item">
                          <div class="item-title">Listings translation you can rely on</div>
                          <div class="textlist">
                              <div class="li-item">
                                  <div class="li-title">We translate millions of listings per day for the biggest names in real estate</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                                  
                              </div>
                              <div class="li-item">
                                  <div class="li-title">Every translation in our listings memory is provided and checked by industry specialist translators. </div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                              </div>
                              <div class="li-item">
                                  <div class="li-title">We use listings in translation to create metadata: the information that search engines like Google and its foreign language versions use to index your page.</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                              </div>
                              <div class="li-item">
                                  <div class="li-title">Your business will finally be visible to every potential client, regardless of the language they speak, or what search engine they use.</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                              </div>
                          </div>
                          <div class="img"><img src="./assets/img/images/placeholder.svg" /></div>
                      </div>
                      <div class="bl4item">
                          <div class="item-title">More languages, more listings, more leads</div>
                          <div class="textlist">
                              <div class="li-item">
                                  <div class="li-title">Hispanic homebuyers are the fastest growing homeownership demographic in the US</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                                  
                              </div>
                              <div class="li-item">
                                  <div class="li-title">22% of American residents speak a language other than English at home</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                              </div>
                              <div class="li-item">
                                  <div class="li-title">Overseas investors and foreign language speakers buy real estate in every price bracket from luxury to affordable first homes</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                              </div>
                              <div class="li-item">
                                  <div class="li-title">More languages? More views, more leads, more deals. It’s that simple.</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                              </div>
                          </div>
                          <div class="img"><img src="./assets/img/images/placeholder.svg" /></div>
                      </div>
                  </div>
                  <a href="#" class="btn">Get started</a>
              </div>
              <div class="bl4right">
                  <div class="bl4list-video idx1-car-video">
                      <div class="bl4list-video-item">
                          <video muted playsinline autoplay >
                              <source src="./assets/video/idx_1_1.mp4" type="video/mp4">
                              <p>Video not supported</p>
                          </video>
                      </div>
                      <div class="bl4list-video-item">
                          <video muted playsinline autoplay >
                              <source src="./assets/video/idx_1_2.mp4" type="video/mp4">
                              <p>Video not supported</p>
                          </video>
                      </div>
                      <div class="bl4list-video-item">
                          <img src="./assets/img/images/placeholder.svg" />
                      </div>
                      <div class="bl4list-video-item">
                          <img src="./assets/img/images/placeholder.svg" />
                      </div>
                  </div>
                  
              </div>    
          </div>
      </div>
      <div class="lang-list-block">
          <div class="idx-decor3"></div>
          <div class="idx-decor4"></div>
          <div class="wrapper">
              <h2 class="title">Xomio Listings Translation</h2>
              <div class="desc">Xomio listings are translated using the Immobel translation engine: the world’s largest translation memory of real-estate-specific terms and phrases. Every translation has been provided and checked by industry experts. That’s why we’re trusted  by the biggest names in real estate.</div>
              <div class="lang-list">
                  <div class="lang-list-item">English</div>
                  <div class="lang-list-item">Português</div>
                  <div class="lang-list-item">Português EU</div>
                  <div class="lang-list-item">العربية</div>
                  <div class="lang-list-item">עברית</div>
                  <div class="lang-list-item">Türkçe</div>
                  <div class="lang-list-item">Русский</div>
                  <div class="lang-list-item">Français (CA)</div>
                  <div class="lang-list-item">Français</div>
                  <div class="lang-list-item">Italiano</div>
                  <div class="lang-list-item">日本語</div>
                  <div class="lang-list-item">Español EU</div>
                  <div class="lang-list-item">Español (Latin America)</div>
                  <div class="lang-list-item">한국어</div>
                  <div class="lang-list-item">Tiếng Việt</div>
                  <div class="lang-list-item">Polski</div>
                  <div class="lang-list-item">Nederlands</div>
                  <div class="lang-list-item">中文 -简体</div>
                  <div class="lang-list-item">中文 -繁體</div>
                  <div class="lang-list-item">中文-繁體（台灣)</div>
              </div>
          </div>
      </div>
      <div class="bl1 idx-block1">
          <div class="idx-decor5"></div>
          <div class="wrapper">
              
              <div class="bl1left">
                  <div class="bl1list">
                      <div class="item">
                          <h2 class="title" >We speak real estate, <br />in 20 languages</h2>
                          <div class="desc">
                              We’ve been working with listings in 20 languages for 20 years.We know everything there is to know about listings data, and about real estate translation.
                          </div>
                          <div class="textlist">
                              <div class="li-item">
                                  <div class="li-title">Every listing in 20 languages</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                                  
                              </div>
                              <div class="li-item">
                                  <div class="li-title">Metadata for foreign language SEO</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                              </div>
                              <div class="li-item">
                                  <div class="li-title">Set up your IDX in 3 clicks</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                              </div>
                              <div class="li-item">
                                  <div class="li-title">Choose from a range of display styles</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                              </div>
                              <div class="li-item">
                                  <div class="li-title">Listings data organized thematically</div>
                                  <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                      <div><a href="#" class="li-link">Learn more</a></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                  </div>
              </div>
              <div class="bl1right">
                  <img src="./assets/img/images/placeholder.svg" />
              </div>
          </div>
      </div>
  </div>

  <!-- Contact us -->
  <section class="section contact-us">
    <div class="container container--mobile-fixed">
      <div class="section__body">
        <div class="section__content">
          <h2 class="section__title">Become an MLS <br>Partner!</h2>
          <div class="section__description">
            <ul class="list-plus">
              <li>The team behind Xomio have been working with MLS organizations across North America for 20 years.</li>
              <li>Our listings translation and web design services help your realtors deliver higher quality service to their markets.</li>
              <li>Get in touch with us today to find out about our partner programs, and get Xomio working for your members, and for your market.</li>
            </ul>
          </div>
        </div>

        <div class="section__object">
          <form action="" method="POST" class="section__form form" novalidate="novalidate" data-parsley-validate>
            <fieldset class="form__fieldset">
              <legend class="form__legend h3">Tell us more about you.</legend>

              <div class="row row--md">
                <div class="col-xs-12 col-md-6">
                  <div class="form__group is-required">
                    <label class="form__label" for="first-name">First name</label>
                    <div class="form__field">
                      <input type="text" id="first-name" class="form__input" required>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="form__group is-required">
                    <label class="form__label" for="last-name">Last name</label>
                    <div class="form__field">
                      <input type="text" id="last-name" class="form__input" required>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row row--md">
                <div class="col-xs-12 col-md-6">
                  <div class="form__group is-required">
                    <label class="form__label" for="company">Your company</label>
                    <div class="form__field">
                      <input type="text" id="company" class="form__input" required>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="form__group is-required">
                    <label class="form__label" for="role">Your role</label>
                    <div class="form__field">
                      <input type="text" id="role" class="form__input" required>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row row--md">
                <div class="col-xs-12 col-md-6">
                  <div class="form__group is-required">
                    <label class="form__label" for="email">Email</label>
                    <div class="form__field">
                      <input type="email" id="email" class="form__input" required>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="form__group">
                    <label class="form__label" for="mls">Phone</label>
                    <div class="form__field">
                      <input type="text" id="phone" class="form__input" data-mask="phone" placeholder="+1 234 567 89 00">
                    </div>
                  </div>
                </div>
              </div>

              <div class="form__group is-required">
                <label class="form__label" for="country">Country</label>
                <div class="form__field">
                  <select id="country" data-element="select-default" data-placeholder="Select your country" data-search-placeholder="Search country" required>
                    <!-- Empty option for placeholder -->
                    <option></option>
                    {% for country in countries %}
                      <option value="{{ country.code }}">{{ country.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form__group is-required">
                <label class="form__label" for="message">How can we help?</label>
                <div class="form__field">
                  <textarea id="message" rows="4" class="form__input" placeholder="Enter text" required></textarea>
                </div>
              </div>
            </fieldset>

            <div class="form__submit">
              <input type="submit" class="button button--primary button--block" value="Send">
            </div>
          </form>
          <div class="section__object-bg decor-dots-bg-2"></div>
        </div>
      </div>
    </div>

    <div class="section__decor section__decor--5 decor-complex-8 hidden-md-down"></div>
  </section>


{% endblock %}

{% block modals %}
{% endblock %}


{% block scripts %}
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock %}