{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-home' %}

{% block content %}
              <div class="bl1">
                  <div class="bg1"><img src="./assets/img/images/bg1.svg" /></div>
                  <div class="bl1decor1"></div>
                  <div class="bl1decor2"></div>
                  <div class="bl1decor3"></div>
                  <div class="wrapper">
                    
                      <div class="bl1left">
                          <div class="bl1list">
                              <div class="item">
                                  <div class="title" >You’re a real estate expert.<br />Not a <div data-text="coder"></div></div>
                                  <div class="textlist">
                                      <div class="li-item">
                                          <div class="li-title">Just clicking. No coding.</div>
                                          <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                              <div><a href="#" class="li-link">Learn more</a></div>
                                          </div>
                                        
                                      </div>
                                      <div class="li-item">
                                          <div class="li-title">Your IDX and Brand listings integrated automatically</div>
                                          <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                              <div><a href="#" class="li-link">Learn more</a></div>
                                          </div>
                                      </div>
                                      <div class="li-item">
                                          <div class="li-title">Drag and drop to rearrange web pages</div>
                                          <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                              <div><a href="#" class="li-link">Learn more</a></div>
                                          </div>
                                      </div>
                                      <div class="li-item">
                                          <div class="li-title">Launch your customised website in minutes</div>
                                          <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                              <div><a href="#" class="li-link">Learn more</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="title" >You’re a real estate expert.<br />Not a <div data-text="translator"></div></div>
                                  <div class="textlist">
                                      <div class="li-item">
                                          <div class="li-title">All listings translated into 20 languages</div>
                                          <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                              <div><a href="#" class="li-link">Learn more</a></div>
                                          </div>
                                      </div>
                                      <div class="li-item">
                                          <div class="li-title">Translated by human industry experts</div>
                                          <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                              <div><a href="#" class="li-link">Learn more</a></div>
                                          </div>
                                      </div>
                                      <div class="li-item">
                                          <div class="li-title">Localized content in 20 languages</div>
                                          <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                              <div><a href="#" class="li-link">Learn more</a></div>
                                          </div>
                                      </div>
                                      <div class="li-item">
                                          <div class="li-title">SEO & Meta tagging in all languages</div>
                                          <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                              <div><a href="#" class="li-link">Learn more</a></div>
                                          </div>
                                      </div>
                                      <div class="li-item">
                                          <div class="li-title">Currency & measurements conversion</div>
                                          <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                              <div><a href="#" class="li-link">Learn more</a></div>
                                          </div>
                                      </div>
                                      <div class="li-item">
                                          <div class="li-title">Multi language client interface</div>
                                          <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                              <div><a href="#" class="li-link">Learn more</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="title" >You’re a real estate expert.<br />Not a <div data-text="web designer"></div></div>
                                  <div class="textlist">
                                      <div class="li-item">
                                          <div class="li-title">Consistent design and style across your whole site</div>
                                          <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                              <div><a href="#" class="li-link">Learn more</a></div>
                                          </div>
                                      </div>
                                      <div class="li-item">
                                          <div class="li-title">Videos and animations deployed with a click</div>
                                          <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                              <div><a href="#" class="li-link">Learn more</a></div>
                                          </div>
                                      </div>
                                      <div class="li-item">
                                          <div class="li-title">Fully responsive sites for mobile, tablet and desktop</div>
                                          <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                              <div><a href="#" class="li-link">Learn more</a></div>
                                          </div>
                                      </div>
                                      <div class="li-item">
                                          <div class="li-title">21 years of web design for real estate</div>
                                          <div class="li-desc">Et, sed aliquam duis vitae, arcu elementum neque. Sed in erat lacus imperdiet commodo. Sit justo, tortor ultrices sed commodo. In scelerisque malesuada eu.
                                              <div><a href="#" class="li-link">Learn more</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <a href="#" class="btn">Get started</a>
                      </div>
                      <div class="bl1right">
                          <div class="bl1list-video">
                              <div class="bl1list-video-item">
                                  <video muted playsinline autoplay >
                                      <source src="1_xomio_h264_cbr.mp4" type="video/mp4">
                                      <p>Video not supported</p>
                                  </video>
                              </div>
                              <div class="bl1list-video-item">
                                  <img src="./assets/img/images/block1.jpg" />
                              </div>
                              <div class="bl1list-video-item">
                                  <video muted playsinline autoplay >
                                      <source src="xomio_2_1.mp4" type="video/mp4">
                                      <p>Video not supported</p>
                                  </video>
                              </div>
                          </div>
                       
                       
                      </div>
                  </div>
              </div>
              <div class="bl2">
                  <div class="wrapper">
                      <h2 class="title">Whatever language or device your clients are using</h2>
                      <div class="subtitle">If they’re <span>looking</span>, they’ll <span>find</span> you.</div>
                      <div class="bl2inner">
                          <div class="bl2left">
                            
                              <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_tkorcb6g.json" background="transparent" speed="1" style="width: 100%; height: auto;" loop autoplay></lottie-player>
                          </div>
                          <div class="bl2left-mobile">
                              <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_vgroulgj.json" background="transparent" speed="1" style="width: 100%; height: auto;" loop autoplay></lottie-player>
                          </div>
                        
                          <div class="bl2right">
                              <div class="bl2list">
                                  <div class="bl2item"><img src="./assets/img/images/block2.png" /></div>
                                  <div class="bl2item"><img src="./assets/img/images/block21.png" /></div>
                                  <div class="bl2item"><img src="./assets/img/images/block22.png" /></div>
                                  <div class="bl2item bl2hintwrap">
                                      <div class="bl2hint">
                                          Your site, in 20 languages, indexed on all major search engines, accessible from any device.
                                          <img src="./assets/img/images/sentence.svg" />
                                        
                                        
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="bl3">
                  <h2>We know you want it</h2>
                  <div class="tags-list">
                      <div class="tag-item ">
                          <a href="#" class="name"><img src="./assets/img/images/plus_white.svg" /> Client kanban</a>
                          <div class="detail">
                              <div class="bg"></div>
                              <div class="text">
                                  Responsive design works by grouping similar devices by screen size together to establish the target size 'break points' your site is designed...
                                  <a href="#" class="more">Learn more <img src="./assets/img/images/white_arr.svg" /></a>
                              </div>
                          </div>
                      </div>
                      <div class="tag-item green">
                          <a href="#" class="name"><img src="./assets/img/images/plus_white.svg" /> GLEX (Brand listings IDX)</a>
                          <div class="detail">
                              <div class="bg"></div>
                              <div class="text">
                                  Responsive design works by grouping similar devices by screen size together to establish the target size 'break points' your site is designed...
                                  <a href="#" class="more">Learn more <img src="./assets/img/images/white_arr.svg" /></a>
                              </div>
                          </div>
                      </div>
                      <div class="tag-item pink">
                          <a href="#" class="name"><img src="./assets/img/images/plus_white.svg" /> Dynamic search filters</a>
                          <div class="detail">
                              <div class="bg"></div>
                              <div class="text">
                                  Responsive design works by grouping similar devices by screen size together to establish the target size 'break points' your site is designed...
                                  <a href="#" class="more">Learn more <img src="./assets/img/images/white_arr.svg" /></a>
                              </div>
                          </div>
                      </div>
                      <div class="tag-item orange">
                          <a href="#" class="name"><img src="./assets/img/images/plus_white.svg" /> Multi language listings view</a>
                          <div class="detail">
                              <div class="bg"></div>
                              <div class="text">
                                  Responsive design works by grouping similar devices by screen size together to establish the target size 'break points' your site is designed...
                                  <a href="#" class="more">Learn more <img src="./assets/img/images/white_arr.svg" /></a>
                              </div>
                          </div>
                      </div>
                    
                      <div class="tag-item ">
                          <a href="#" class="name"><img src="./assets/img/images/plus_white.svg" /> Currency conversion</a>
                          <div class="detail">
                              <div class="bg"></div>
                              <div class="text">
                                  Responsive design works by grouping similar devices by screen size together to establish the target size 'break points' your site is designed...
                                  <a href="#" class="more">Learn more <img src="./assets/img/images/white_arr.svg" /></a>
                              </div>
                          </div>
                      </div>
                      <div class="tag-item green">
                          <a href="#" class="name"><img src="./assets/img/images/plus_white.svg" /> Fully responsive</a>
                          <div class="detail">
                              <div class="bg"></div>
                              <div class="text">
                                  Responsive design works by grouping similar devices by screen size together to establish the target size 'break points' your site is designed...
                                  <a href="#" class="more">Learn more <img src="./assets/img/images/white_arr.svg" /></a>
                              </div>
                          </div>
                      </div>
                      <div class="tag-item green">
                          <a href="#" class="name"><img src="./assets/img/images/plus_white.svg" /> Fair housing act</a>
                          <div class="detail">
                              <div class="bg"></div>
                              <div class="text">
                                  Responsive design works by grouping similar devices by screen size together to establish the target size 'break points' your site is designed...
                                  <a href="#" class="more">Learn more <img src="./assets/img/images/white_arr.svg" /></a>
                              </div>
                          </div>
                      </div>
                      <div class="tag-item pink">
                          <a href="#" class="name"><img src="./assets/img/images/plus_white.svg" /> Map search</a>
                          <div class="detail">
                              <div class="bg"></div>
                              <div class="text">
                                  Responsive design works by grouping similar devices by screen size together to establish the target size 'break points' your site is designed...
                                  <a href="#" class="more">Learn more <img src="./assets/img/images/white_arr.svg" /></a>
                              </div>
                          </div>
                      </div>
                      <div class="tag-item pink">
                          <a href="#" class="name"><img src="./assets/img/images/plus_white.svg" /> https</a>
                          <div class="detail">
                              <div class="bg"></div>
                              <div class="text">
                                  Responsive design works by grouping similar devices by screen size together to establish the target size 'break points' your site is designed...
                                  <a href="#" class="more">Learn more <img src="./assets/img/images/white_arr.svg" /></a>
                              </div>
                          </div>
                      </div>
                      <div class="tag-item orange">
                          <a href="#" class="name"><img src="./assets/img/images/plus_white.svg" /> No coding</a>
                          <div class="detail">
                              <div class="bg"></div>
                              <div class="text">
                                  Responsive design works by grouping similar devices by screen size together to establish the target size 'break points' your site is designed...
                                  <a href="#" class="more">Learn more <img src="./assets/img/images/white_arr.svg" /></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="bl4">
                  <div class="wrapper">
                      <div class="bl4decor1"></div>
                      <div class="bl4decor2"></div>
                      <div class="bl4decor3"></div>
                    
                      <div class="bl4left">
                          <h2>Take a deeper look</h2>
                          <div class="bl4list">
                              <div class="bl4item">
                                  <div class="item-title">A website experience that boosts conversion</div>
                                  <div class="item-desc">
                                      <p>Xomio sites are accessible to clients from any device, in their preferred language, localized according to their preferences.</p>
                                      <p>The feature-rich user experience encourages visitors to save searches, create listings mood boards, share properties to their social media, and more.</p>
                                      <p>Xomio’s user interface, translated listings, and multi language emails increase conversion and engagement thanks to a more personalized client journey.</p>
                                  </div>
                                  <div class="img"><img src="./assets/img/images/block22.png" /></div>
                              </div>
                              <div class="bl4item">
                                  <div class="item-title">More languages + more listings =  more leads</div>
                                  <div class="item-desc">
                                      <p>Listings data drives search engine rankings in every supported language, leading more consumers to your site, and giving them more to see when they arrive.</p>
                                      <p>Xomio is the only website platform that allows you to show the listings from your brand AND MLS, all branded to you. </p>
                                      <p>Every listing is available in 20 languages, localized by professional translators specializing in real estate.</p>
                                  </div>
                                  <div class="img"><img src="./assets/img/images/block22.png" /></div>
                              </div>
                              <div class="bl4item">
                                  <div class="item-title">Compliance, without the headaches</div>
                                  <div class="item-desc">
                                      <p>All Xomio sites are ADA-compliant, following WCAG 2.0 standards, delivering accessibility and eliminating costly fines and lawsuits.</p>
                                      <p>Multi language listings show your commitment to Fair Housing and diversity, with listings fully accessible to all prospective buyers searching in your market.</p>
                                      <p>Data protection, terms & conditions, CAPTCHA security - it’s all been taken care of for you.</p>
                                  </div>
                                  <div class="img"><img src="./assets/img/images/block22.png" /></div>
                              </div>
                              <div class="bl4item">
                                  <div class="item-title">Better lead management means more <span>sales</span></div>
                                  <div class="item-desc">
                                      <p>Xomio’s Kanban CRM makes it easy to handle leads and follow up with clients.</p>
                                      <p>Drag and drop your contacts to track their status, helping you stay on top of your pipeline.</p>
                                      <p>Automated drip marketing, multi-language email auto-responses, and saved search alerts keep clients engaged with minimal effort.</p>
                                  </div>
                                  <div class="img"><img src="./assets/img/images/block22.png" /></div>
                              </div>
                          </div>
                          <a href="#" class="btn">Get started</a>
                      </div>
                      <div class="bl4right">
                          <div class="bl4list-video">
                              <div class="bl4list-video-item">
                                  <video muted playsinline autoplay >
                                      <source src="2_ipad_3.mp4" type="video/mp4">
                                      <p>Video not supported</p>
                                  </video>
                              </div>
                              <div class="bl4list-video-item">
                                  <img src="./assets/img/images/block22.png" />
                              </div>
                              <div class="bl4list-video-item">
                                  <img src="./assets/img/images/block22.png" />
                              </div>
                              <div class="bl4list-video-item">
                                  <video muted playsinline autoplay >
                                      <source src="Homepage_ipad@2x.mp4" type="video/mp4">
                                      <p>Video not supported</p>
                                  </video>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="bl5">
                  <div class="wrapper">
                      <div class="bl5decor1"></div>
                      <div class="bl5decor2"></div>
                      <h2>Find the right fit for you</h2>
                      <div class="wrapbtn"><a href="#" class="big btn gofirst">Start</a></div>
                      <div class="test-wrap">
                          <div class="step-block " data-id="0" data-goto="11">
                              <div class="vert-line"></div>
                              <div class="step-label"><div>Welcome!</div></div>
                          </div>
                          <div class="step-block step-variants" data-id="11">
                              <div class="vert-line"></div>
                              <div class="step-label"><div>What best describes your business?</div></div>
                              <div class="variants-wrap">
                                  <div class="variants">
                                      <div class="variant" data-id="1"><div class="text"><span>Agent</span></div><div class="end"></div><div class="start"></div></div>
                                      <div class="variant" data-id="1" ><div class="text"><span>Team</span></div><div class="end"></div><div class="start"></div></div>
                                      <div class="variant" data-id="1" ><div class="text"><span>Brokerage</span></div><div class="end"></div><div class="start"></div></div>
                                      <div class="variant" data-id="1" ><div class="text"><span>MLS</span></div><div class="end"></div><div class="start"></div></div>
                                      <div class="variant" data-id="1" ><div class="text"><span>Brand</span></div><div class="end"></div><div class="start"></div></div>
                                      <div class="variant" data-id="7" ><div class="text"><span>Portal</span></div><div class="end"></div><div class="start"></div></div>
                                  </div>
                                  <div class="vars-line"></div>
                                  <div class="ans-line"></div>
                              </div>
                          </div>
                          <div class="step-block step-dialog" data-id="1">
                              <div class="vert-line"></div>
                              <div class="step-label"><div>Do you already have a website?</div></div>
                              <div class="ans yes" data-id="21">
                                  <div class="ans-wrap">
                                      <div class="ans-btn">
                                          <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M5.80858 28.4433C0.721213 37.3436 -2.23814 46.8302 2.09109 56.8305C18.1532 93.7215 64.9224 100.556 83.8131 62.7212C88.6025 53.1174 89.8783 42.1456 84.4719 32.6143C79.0656 23.0831 69.9784 14.2665 61.733 7.62201C53.4876 0.977498 44.071 -1.93715 34.095 1.36835C21.9595 5.40531 12.1979 17.2593 5.80858 28.4433Z" fill="#EF8683"/>
                                          </svg>
                                          <span>Yes</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="ans no" data-id="2">
                                  <div class="ans-wrap">
                                      <div class="ans-btn">
                                          <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M5.80858 28.4433C0.721213 37.3436 -2.23814 46.8302 2.09109 56.8305C18.1532 93.7215 64.9224 100.556 83.8131 62.7212C88.6025 53.1174 89.8783 42.1456 84.4719 32.6143C79.0656 23.0831 69.9784 14.2665 61.733 7.62201C53.4876 0.977498 44.071 -1.93715 34.095 1.36835C21.9595 5.40531 12.1979 17.2593 5.80858 28.4433Z" fill="#EF8683"/>
                                          </svg>
                                          <span>No</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        
                        
                          <div class="step-block step-dialog" data-id="21">
                              <div class="vert-line"></div>
                              <div class="step-label"><div>Are you looking to replace your website?</div></div>
                              <div class="ans yes" data-id="22">
                                   <div class="ans-wrap">
                                      <div class="ans-btn">
                                          <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M5.80858 28.4433C0.721213 37.3436 -2.23814 46.8302 2.09109 56.8305C18.1532 93.7215 64.9224 100.556 83.8131 62.7212C88.6025 53.1174 89.8783 42.1456 84.4719 32.6143C79.0656 23.0831 69.9784 14.2665 61.733 7.62201C53.4876 0.977498 44.071 -1.93715 34.095 1.36835C21.9595 5.40531 12.1979 17.2593 5.80858 28.4433Z" fill="#EF8683"/>
                                          </svg>
                                          <span>Yes</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="ans no" data-id="23">
                                  <div class="ans-wrap">
                                      <div class="ans-btn">
                                          <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M5.80858 28.4433C0.721213 37.3436 -2.23814 46.8302 2.09109 56.8305C18.1532 93.7215 64.9224 100.556 83.8131 62.7212C88.6025 53.1174 89.8783 42.1456 84.4719 32.6143C79.0656 23.0831 69.9784 14.2665 61.733 7.62201C53.4876 0.977498 44.071 -1.93715 34.095 1.36835C21.9595 5.40531 12.1979 17.2593 5.80858 28.4433Z" fill="#EF8683"/>
                                          </svg>
                                          <span>No</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        
                          <div class="step-block step-variants" data-id="23">
                              <div class="vert-line"></div>
                              <div class="step-label"><div>What are your plans?</div></div>
                              <div class="variants-wrap">
                                  <div class="variants">
                                      <div class="variant" data-id="2"><div class="text"><span>I want to add GLEX to my existing website</span></div><div class="end"></div><div class="start"></div></div>
                                      <div class="variant" data-id="2"><div class="text"><span>I want to add Mutli-Language IDX to my existing website</span></div><div class="end"></div><div class="start"></div></div>
                                  </div>
                                  <div class="vars-line"></div>
                                  <div class="ans-line"></div>
                              </div>
                          </div>
                        
                          <div class="step-block step-variants" data-id="2">
                              <div class="vert-line"></div>
                              <div class="step-label"><div>Are you a member of our partner MLS organizations?</div></div>
                              <div class="variants-wrap">
                                  <div class="variants">
                                      <div class="variant" data-id="6"><div class="text"><span>Answer 1</span></div><div class="end"></div><div class="start"></div></div>
                                      <div class="variant" data-id="6"><div class="text"><span>Answer 3</span></div><div class="end"></div><div class="start"></div></div>
                                      <div class="variant" data-id="6"><div class="text"><span>Answer 2</span></div><div class="end"></div><div class="start"></div></div>
                                      <div class="variant" data-id="6"><div class="text"><span>Do not belong to any of these</span></div><div class="end"></div><div class="start"></div></div>
                                      <div class="variant" data-id="6"><div class="text"><span>Answer 3</span></div><div class="end"></div><div class="start"></div></div>
                                  </div>
                                  <div class="vars-line"></div>
                                  <div class="ans-line"></div>
                              </div>
                          </div>
                          <div class="step-block " data-id="71" data-goto="72">
                              <div class="vert-line"></div>
                              <div class="step-label bigtext"><div>
                                  <p>Coming soon!</p>
                                  Xomio for Portals is launching soon — be the first to find out when it’s available by signing up for updates.
                              </div></div>
                          </div>
                          <div class="step-block " data-id="6" data-goto="61">
                              <div class="vert-line"></div>
                              <div class="step-label bigtext"><div>
                                  <p>Coming soon!</p>
                                  Xomio for Teams is launching soon — be the first to find out when it’s available by signing up for updates.
                              </div></div>
                          </div>
                          <div class="step-block " data-id="61" data-goto="5">
                              <div class="vert-line"></div>
                              <div class="step-label round"><div>violet.e.realtor@gmail.com</div></div>
                          </div>
                          <div class="step-block step-variants" data-id="4">
                              <div class="vert-line"></div>
                              <div class="step-label"><div>Are you member of our partner brands?</div></div>
                              <div class="variants-wrap">
                                  <div class="variants">
                                      <div class="variant" data-id="5"><div class="text"><span>Answer 1</span></div><div class="end"></div><div class="start"></div></div>
                                      <div class="variant" data-id="5"><div class="text"><span>Answer 3</span></div><div class="end"></div><div class="start"></div></div>
                                      <div class="variant" data-id="5"><div class="text"><span>Answer 2</span></div><div class="end"></div><div class="start"></div></div>
                                      <div class="variant" data-id="5"><div class="text"><span>Do not belong to any of these</span></div><div class="end"></div><div class="start"></div></div>
                                      <div class="variant" data-id="5"><div class="text"><span>Answer 3</span></div><div class="end"></div><div class="start"></div></div>
                                  </div>
                                  <div class="vars-line"></div>
                                  <div class="ans-line"></div>
                              </div>
                          </div>
                          <div class="step-block " data-id="72">
                              <div class="vert-line"></div>
                              <div class="step-label bigtext"><div>
                                  <p>Coming soon!</p>
                                  Xomio for Portals is launching soon — be the first to find out when it’s available by signing up for updates.
                              </div></div>
                          </div>
                          <div class="step-block step-final" data-id="5">
                              <div class="vert-line"></div>
                              <div class="wrapbtn"><a href="#" class="big btn">Go!</a></div>
                          </div>
                      </div>
                  </div>
              </div>
{% endblock %}

{% block scripts %}
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script src="js/anime.min.js"></script>
{% endblock %}