.feature-1 {
    .section__decor {
        &--2 {
            top: rem(105px);
            right: 0;
            @include size(65px, 120px);
        }

        &--3 {
            left: rem(-35px);
            bottom: rem(88px);
        }
    }

    @include media-breakpoint-up(lg) {
        .section__object {
            position: relative;
            z-index: 1;
        }

        .section__decor {
            &--1 {
                left: rem(-29px);
                bottom: rem(-79px);
            }

            &--2 {
                top: rem(-3px);
                @include size(165px, 241px);
            }

            &--3 {
                left: 50%;
                margin-left: rem(-71px);
                bottom: rem(121px);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__title {
            margin-right: rem(-10px);
        }
    }
}