.feature-10 {
    padding-bottom: rem(80px);

    .section__decor {
        right: 0;
        bottom: rem(33px);
        @include size(rem(195px), rem(281px));
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        .section__object {
            align-self: flex-start;
            margin-top: rem(43px);
        }

        .section__decor {
            top: rem(408px);
            bottom: auto;
            @include size(rem(254px), rem(283px));
        }
    }

    @include media-breakpoint-up(xl) {
    }
}