.feature-5 {
    .section__object {
        display: flex;
        align-items: flex-start;
    }

    .section__img {
        border-radius: $border-radius-sm;
        max-width: 52%;

        &:last-of-type {
            margin-top: rem(73px);
        }
    }

    .section__img + .section__img {
        margin-left: rem($spacer-4);
    }

    @include media-breakpoint-up(xl) {
        .section__img {
            border-radius: $border-radius-lg;
            max-width: 60%;

            &:last-of-type {
                margin-top: 25%;
            }
        }

        .section__img + .section__img {
            margin-left: rem(44px);
        }
    }
}