.feature-7 {
    .section__content + .section__body {
        margin-top: rem(- $spacer-4);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-between(lg, lg) {
        .section__decor {
            display: none;
        }
    }

    @include media-breakpoint-up(lg) {
        .section__content + .section__body {
            margin-top: 0;
        }
    }

    @include media-breakpoint-up(xl) {
        .section__title {
            margin-bottom: rem($spacer-10);
        }

        .section__subtitle {
            margin-bottom: rem($spacer-6);
        }
    }
}