.home-1 {
    .section__content {
        margin-bottom: rem($spacer-6);
    }

    .section__decor {
        &--1 {
            width: rem(300px);
            height: rem(995px);
            background-position: 0;
            background-size: cover;
            top: rem(-80px);
            right: 0;
        }

        &--2 {
            width: rem(123px);
            height: rem(117px);
            right: rem(43px);
            bottom: rem(87px);
        }
    }

    @include media-breakpoint-down(md) {
        padding-top: rem($spacer-6) !important;
    }

    @include media-breakpoint-up(lg) {
        .section__content {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(xl) {
        .section__title {
            margin-right: rem(-80px);
            margin-bottom: rem($spacer-8);
        }

        .section__decor {
            &--1 {
                width: rem(647px);
                top: rem(-194px);
            }

            &--2 {
                width: rem(192px);
                height: rem(183px);
                right: rem(260px);
                bottom: rem(32px);
            }

            &--3 {
                top: 76%;
                left: rem(-126px);
                bottom: auto;
            }

            &--4 {
                top: 19%;
                left: rem(-62px);
            }
        }
    }

    @include media-breakpoint-up(2xl) {
        .section__decor {
        }
    }
}