.section {
    position: relative;
    z-index: 1;
    padding-top: rem($section-offset-mobile);
    padding-bottom: rem($section-offset-mobile);
    scroll-margin-top: rem($section-offset-mobile);

    &__header {
        margin-bottom: rem($spacer-6);
    }

    &__body {
        max-width: rem(600px);
        margin-left: auto;
        margin-right: auto;
    }

    &__content + &__body {
        margin-top: rem(- $spacer-4);
    }

    &__content {
        margin-bottom: rem($spacer-10);
    }

    &__title + &__subtitle {
        margin-top: rem($spacer-6);
    }

    &__title {
        &-icon {
            display: inline-block;
            vertical-align: bottom;
            @include size(rem($spacer-8));
            margin-bottom: rem($spacer);
        }
    }

    &__subtitle {
        @include em-line-height($font-size-h3-mobile, $line-height-lg);
    }

    &__features {
        margin-top: rem($spacer-10);
    }

    &__action {
        margin-top: rem($spacer-10);
    }

    &__slide {
        opacity: 0;
        visibility: hidden;
        transition: .25s ease-in-out;
        pointer-events: none;

        &.slick-active {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &__object {
        position: relative;

        .slick-list {
            overflow: visible;
        }

        &-bg {
            top: 0;
            left: 0;
            right: 0;
        }
    }

    &__form {
        background-color: $white;
        box-shadow: 0 6px 24px -6px rgba(#18274b, 0.06), 0 10px 32px -4px rgba(#18274b, 0.05);
        border-radius: $border-radius-lg;
        padding: rem($spacer-8 $spacer-6);

        &-bg {
            top: 0;
            left: 0;
            right: 0;
        }
    }

    &__img {
        display: block;

        &--filter {
            filter: drop-shadow(0 4px 4px rgba($black-500, 0.25));
        }
    }

    &__template {
        position: relative;
        z-index: 1;
        filter: drop-shadow(0 9.14667px 13.72px rgba(0, 54, 43, 0.02)) drop-shadow(0 9.14667px 22.8667px rgba(0, 54, 43, 0.02));

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            background-color: #012144;
            opacity: 0.07;
            filter: blur(22.8667px);
            border-radius: 2.07706px;
            z-index: -1;
        }

        .section__img {
            border-radius: $border-radius-md;
        }

        &--shadow {
            filter: none;

            &:after {
                filter: blur(28.5545px);
                border-radius: 5.7109px;
            }

            .section__img {
                border-radius: $border-radius-sm;
            }
        }

        .slick-list {
            overflow: hidden;
        }
    }

    &__video {
        @include aspect-ratio-block(600/382);
        border-radius: $border-radius-sm;
        box-shadow: 0 16px 24px rgba($black-400, 0.02), 0 16px 40px rgba($black-400, 0.02);

        video {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }

        &--2 {
            &:after {
                padding-top: 65.359477%;
            }
        }

        &--3 {
            &:after {
                padding-top: 62.5%;
            }
        }

        &--full {
            &:after {
                padding-top: 70.625%;
            }
        }

        &--noshadow {
           box-shadow: none;
        }
    }

    @include media-breakpoint-up(lg) {
        &__header {
            margin-bottom: rem(48px);
        }

        &__body {
            display: flex;
            justify-content: space-between;
            max-width: none;

            &--center {
                align-items: center;
            }
        }

        &__content {
            flex: 0 0 40%;
            width: 40%;
            margin-bottom: 0;
        }

        &__object {
            flex: 0 0 50%;
            width: 50%;

            &.is-sticky {
                position: sticky;
                top: rem($navbar-height-mobile + $spacer-10);
            }

            .section__content {
                width: 100%;
            }
        }

        &__template {
            filter: drop-shadow(0 16px 24px rgba(0, 54, 43, 0.02)) drop-shadow(0 16px 40px rgba(0, 54, 43, 0.02));

            &:after {
                filter: blur(40px);
                border-radius: 3.63333px;
            }

            .section__img {
                border-radius: $border-radius-lg;
            }

            &--shadow {
                filter: none;

                &:after {
                    filter: blur(28.5545px);
                    border-radius: 5.7109px;
                }

                .section__img {
                    border-radius: $border-radius-sm;
                }
            }
        }

        &__video {
            border-radius: $border-radius-md;
        }

        &--reversed & {
            &__body {
                flex-direction: row-reverse;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        padding-top: rem($section-offset);
        padding-bottom: rem($section-offset);
        scroll-margin-top: rem($section-offset);

        &__content {
            flex: 0 0 50%;
            width: 50%;
            max-width: rem(480px);

            &--lg {
                max-width: rem(520px);
            }
        }

        &__object {
            max-width: rem(600px);

            &.is-sticky {
                top: rem($navbar-height + $spacer-10);
                align-self: flex-start;
            }

            &--md {
                max-width: rem(560px);
            }
        }

        &__title {
            margin-right: rem(-10px);
            margin-bottom: rem($spacer-6);

            &-icon {
                @include size(rem(64px));
                margin-bottom: 0;
            }
        }

        &__title + &__subtitle {
            margin-top: rem($spacer-10);
        }

        &__subtitle {
            @include em-line-height($font-size-h3, $line-height-h3-mobile);
            margin-bottom: rem($spacer-4);
        }

        &__features {
            margin-top: rem(48px);
        }

        &__action {
            margin-top: rem(48px);
        }

        &__form {
            box-shadow: 0 16px 24px rgba($black-400, 0.04), 0 16px 40px rgba($black-400, 0.04);
            padding: rem(48px $spacer-10);
        }

        &__lang-list {
            max-width: 92%;
            margin-left: auto;
            margin-right: auto;
        }

        &--compact {
            padding-top: 0;
            padding-bottom: rem(60px);
            margin-top: rem(- $spacer-5);

            &-top {
                padding-top: 0;
            }
        }
    }
}