.teams {
    z-index: 2;

    .intro {
        max-width: none;

        &__desctiption {
            max-width: rem(720px);
            margin-left: auto;
            margin-right: auto;
        }
    }

    .section__decor {
        &--1 {
            top: 26.5%;
            right: rem(-61px);
        }
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
        .intro {
            margin-bottom: rem(74px);
        }

        .section__decor {
            &--1 {
                transform: scale(1.05);
                top: rem(-13px);
                left: rem(-126px);
                right: auto;
            }

            &--2 {
                top: rem(125px);
                right: rem(74px);
            }
        }
    }
}