%clip-corner {
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 77%, 88% 100%, 0 100%, 0 100%, 0 0);
}

%clip-corner-sm {
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 74%, 93% 100%, 0 100%, 0 100%, 0 0);
}

%clip-corner-xs {
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 60%, 85% 100%, 0 100%, 0 100%, 0 0);
}
