<section class="section contact-us {{ sectionClass }}">
  <div class="container container--mobile-fixed">
    <div class="section__body">
      <div class="section__content intro">
        <h2 class="intro__title">Still have questions?</h2>
        <div class="intro__text">
          <p>If you can’t find the answer to your question in the Frequently Asked Questions section, then please get in touch using our contact form. We’ll get back to you asap!</p>
        </div>
      </div>

      <div class="section__object">
        <form action="" method="POST" class="section__form form">
          <fieldset class="form__fieldset">
            <legend class="form__legend h3">Get in touch!</legend>

            <div class="row row--md">
              <div class="col-xs-12 col-md-6">
                <div class="form__group">
                  <label class="form__label" for="first-name">First name</label>
                  <div class="form__field">
                    <input type="text" id="first-name" class="form__input">
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form__group">
                  <label class="form__label" for="last-name">Last name</label>
                  <div class="form__field">
                    <input type="text" id="last-name" class="form__input">
                  </div>
                </div>
              </div>
            </div>

            <div class="form__group">
              <label class="form__label" for="country">Country</label>
              <div class="form__field">
                <select id="country" data-element="select-default" data-placeholder="Select your country" data-search-placeholder="Search country">
                  <!-- Empty option for placeholder -->
                  <option></option>
                  {% for country in countries %}
                    <option id="{{ country.code }}">{{ country.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row row--md">
              <div class="col-xs-12 col-md-6">
                <div class="form__group">
                  <label class="form__label" for="brand">Brand Membership (if applicable)</label>
                  <div class="form__field">
                    <input type="text" id="brand" class="form__input">
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form__group">
                  <label class="form__label" for="mls">MLS Memberships (if applicable)</label>
                  <div class="form__field">
                    <input type="text" id="mls" class="form__input">
                  </div>
                </div>
              </div>
            </div>

            <div class="row row--md">
              <div class="col-xs-12 col-md-6">
                <div class="form__group is-required">
                  <label class="form__label" for="email">Email</label>
                  <div class="form__field">
                    <input type="email" id="email" class="form__input" required>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form__group">
                  <label class="form__label" for="mls">Phone</label>
                  <div class="form__field">
                    <input type="text" id="phone" class="form__input" data-mask="phone" placeholder="+1 234 567 89 00">
                  </div>
                </div>
              </div>
            </div>

            <div class="form__group is-required">
              <label class="form__label" for="message">How can we help you?</label>
              <div class="form__field">
                <textarea id="message" rows="4" class="form__input" placeholder="Enter text" required></textarea>
              </div>
            </div>
          </fieldset>

          <div class="form__submit">
            <input type="submit" class="button button--primary button--block" value="Send">
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="contact-us__decor contact-us__decor--1 hidden-md-down decor-complex-1"></div>
  <div class="contact-us__decor contact-us__decor--2 decor-complex-2"></div>
</section>