<div class="popup">
    
    
        <div class="popup-list">
            <div class="popup-list-item plitem1">
                <div class="close-popup"><img src="./assets/img/images/popup/popup-close.svg" /></div>
                <div class="wrapper">
                    <div class="pl-left">
                        <div class="title">TITLE</div>
                        <div class="desc">
                            <p>Lorem et rutrum tortor, mauris, odio tellus eget. Diam, imperdiet senectus at enim magna ultrices eu vel non. Diam eu, tempor, id vulputate nisi. Tortor velit praesent dictumst consequat ut. Sagittis, facilisis bibendum arcu purus. Sit ut erat pellentesque sagittis amet quis viverra neque. Nulla etiam orci, egestas nec posuere a mi tincidunt. Neque morbi tellus tristique consectetur nulla neque etiam. Vel ac sed nunc, pellentesque mauris consectetur ornare eros.</p>
                            <p>Quis ut feugiat pellentesque at nunc amet quisque. Faucibus in gravida lectus tortor. Erat mauris, aliquam a at sed pellentesque semper viverra enim. Tellus cursus luctus ullamcorper luctus sagittis vulputate blandit. Feugiat urna neque eget viverra leo aliquet turpis.</p>
                            <ul>
                                <li>All listings translated into 20 languages</li>
                                <li>Translated by human industry experts</li>
                                <li>Localized content in 20 languages</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pl-right">
                        <img src="./assets/img/images/popup/popup-img.png" />
                    </div>
                </div>
                <div class="next">
                    <img src="./assets/img/images/popup/right.svg" />
                </div>
            </div>
            <div class="popup-list-item plitem2">
                <div class="close-popup"><img src="./assets/img/images/popup/popup-close.svg" /></div>
                <div class="wrapper">
                    <div class="pl-left">
                        <div class="title">20 languages <img src="./assets/img/images/popup/!!.png" /></div>
                        <div class="desc">
                            <p>Lorem et rutrum tortor, mauris, odio tellus eget. Diam, imperdiet senectus at enim magna ultrices eu vel non. Diam eu, tempor, id vulputate nisi. Tortor velit praesent dictumst consequat ut. Sagittis, facilisis bibendum arcu purus. Sit ut erat pellentesque sagittis amet quis viverra neque. Nulla etiam orci, egestas nec posuere a mi tincidunt. Neque morbi tellus tristique consectetur nulla neque etiam. Vel ac sed nunc, pellentesque mauris consectetur ornare eros.</p>
                            <p>Quis ut feugiat pellentesque at nunc amet quisque. Faucibus in gravida lectus tortor. Erat mauris, aliquam a at sed pellentesque semper viverra enim. Tellus cursus luctus ullamcorper luctus sagittis vulputate blandit. Feugiat urna neque eget viverra leo aliquet turpis.</p>
                            <ul>
                                <li>All listings translated into 20 languages</li>
                                <li>Translated by human industry experts</li>
                                <li>Localized content in 20 languages</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pl-right">
                        <img src="./assets/img/images/popup/popup-langs.svg" />
                    </div>
                </div>
                <div class="next">
                    <img src="./assets/img/images/popup/right.svg" />
                </div>
            </div>
            <div class="popup-list-item plitem3">
                <div class="close-popup"><img src="./assets/img/images/popup/popup-close.svg" /></div>
                <div class="wrapper">
                    <div class="pl-left">
                        <div class="title">Cloud based</div>
                        <div class="desc">
                            <p>Lorem et rutrum tortor, mauris, odio tellus eget. Diam, imperdiet senectus at enim magna ultrices eu vel non. Diam eu, tempor, id vulputate nisi. Tortor velit praesent dictumst consequat ut. Sagittis, facilisis bibendum arcu purus. Sit ut erat pellentesque sagittis amet quis viverra neque. Nulla etiam orci, egestas nec posuere a mi tincidunt. Neque morbi tellus tristique consectetur nulla neque etiam. Vel ac sed nunc, pellentesque mauris consectetur ornare eros.</p>
                            <p>Quis ut feugiat pellentesque at nunc amet quisque. Faucibus in gravida lectus tortor. Erat mauris, aliquam a at sed pellentesque semper viverra enim. Tellus cursus luctus ullamcorper luctus sagittis vulputate blandit. Feugiat urna neque eget viverra leo aliquet turpis.</p>
                            <ul>
                                <li>All listings translated into 20 languages</li>
                                <li>Translated by human industry experts</li>
                                <li>Localized content in 20 languages</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pl-right">
                        <img src="./assets/img/images/popup/placeholder.png" />
                    </div>
                </div>
                <div class="next">
                    <img src="./assets/img/images/popup/right.svg" />
                </div>
            </div>
            <div class="popup-list-item plitem4">
                <div class="close-popup"><img src="./assets/img/images/popup/popup-close.svg" /></div>
                <div class="wrapper">
                    <div class="pl-left">
                        <div class="title">Cloud based</div>
                        <div class="desc">
                            <p>Lorem et rutrum tortor, mauris, odio tellus eget. Diam, imperdiet senectus at enim magna ultrices eu vel non. Diam eu, tempor, id vulputate nisi. Tortor velit praesent dictumst consequat ut. Sagittis, facilisis bibendum arcu purus. Sit ut erat pellentesque sagittis amet quis viverra neque. Nulla etiam orci, egestas nec posuere a mi tincidunt. Neque morbi tellus tristique consectetur nulla neque etiam. Vel ac sed nunc, pellentesque mauris consectetur ornare eros.</p>
                            <p>Quis ut feugiat pellentesque at nunc amet quisque. Faucibus in gravida lectus tortor. Erat mauris, aliquam a at sed pellentesque semper viverra enim. Tellus cursus luctus ullamcorper luctus sagittis vulputate blandit. Feugiat urna neque eget viverra leo aliquet turpis.</p>
                            <ul>
                                <li>All listings translated into 20 languages</li>
                                <li>Translated by human industry experts</li>
                                <li>Localized content in 20 languages</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pl-right">
                        <img src="./assets/img/images/popup/placeholder.png" />
                    </div>
                </div>
                <div class="next">
                    <img src="./assets/img/images/popup/right.svg" />
                </div>
            </div>
        </div>
    </div>
</div>
