.page-home {
    .main {
        padding-top: 0;
    }

    [data-page="fullpage"] {
        .section {
            padding: 0;
        }
    }

    @include media-breakpoint-up(xl) {
        .main {
            padding-top: 0;
        }

        [data-page="fullpage"] {
            .section {
                padding: 0;
            }
        }
    }
}
