.features {
    @include list-unstyled;
    margin-bottom: rem(- $spacer-10);
    overflow: hidden;

    &__item {
        margin-bottom: rem($spacer-10);
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: rem(-48px);

        &__item {
            margin-bottom: rem(48px);
        }
    }
}