.intro {
    max-width: rem(740px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem($spacer-10);

    &__action {
        margin-top: rem($spacer-8);
    }

    @include media-breakpoint-up(lg) {
        &__action {
            margin-top: rem(48px);
        }
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: rem(48px);

        &__title {
            margin-bottom: rem($spacer-6);
        }
   }
}