.label {
    display: inline-flex;
    align-items: center;
    background-color: rgba($blue-400, 0.1);
    border-radius: $border-radius;
    padding: rem($spacer 6px);
    @include font($font-size-sm, 15.01px, $font-weight-semibold);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $blue-400;

    &__icon {
        font-size: rem($font-size-base);
        margin-right: rem(2px);
    }


    @include media-breakpoint-up(lg) {
    }
}