.lang-list {
    @include list-unstyled;
    @include make-row($spacer-4);
    justify-content: center;
    margin-bottom: rem(- $spacer-5);

    &__item {
        display: flex;
        align-items: center;
        white-space: nowrap;
        @include font($font-size-h4, $line-height-h4);
        background-color: $white;
        box-shadow: 0 2px 8px rgba($black-400, 0.08);
        border-radius: rem(48px);
        padding: rem($spacer-2 $spacer-5);
        margin-left: rem($spacer-2);
        margin-right: rem($spacer-2);
        margin-bottom: rem($spacer-5);
    }

    &__icon {
        color: $primary;
        font-size: rem($spacer-6);
        margin-right: rem($spacer-3);
    }

    @include media-breakpoint-up(xl) {
        margin-left: rem(- $spacer-4);
        margin-right: rem(- $spacer-4);
        margin-bottom: rem(- $spacer-8);

        &__item {
            margin-left: rem($spacer-4);
            margin-right: rem($spacer-4);
            margin-bottom: rem($spacer-8);
        }
    }
}
