.steps {
    @include list-unstyled;
    position: relative;

    &__item {
        position: relative;
        padding-left: rem($spacer-6);
        padding-bottom: rem($spacer-10);

        &:last-of-type {
            padding-bottom: 0;

            &:after,
            .steps__item-progress {
                display: none;
            }
        }

        &:before {
            position: absolute;
            top: rem($spacer-2);
            left: 0;
            @include size(rem($spacer-3));
            @include rounded;
            background-color: $primary;
            content: '';
        }

        &:after {
            position: absolute;
            top: rem($spacer-3);
            left: rem(5px);
            bottom: rem(- $spacer-4);
            width: rem(2px);
            background-color: rgba($primary, .2);
            content: '';
        }
    }

    &__progress {
        display: none;
    }

    @include media-breakpoint-up(lg) {

        &__progress {
            display: block;
            position: absolute;
            top: rem($spacer-3);
            left: rem(5px);
            width: rem(2px);
            background-image: linear-gradient(to bottom, $primary, $primary);
            background-repeat: no-repeat;
            background-size: 100% 0;
            transition: background-size 0.4s ease-in-out;
        }
    }

    @include media-breakpoint-up(xl) {
        &__item {
            padding-left: rem(42px);
            padding-bottom: rem(45px);
        }
   }
}