.tag {
    color: $white;
    border-radius: rem($spacer-5);
    position: relative;
    overflow: hidden;
    @include size(100%);
    z-index: 1;
    transition: width 0s 0s, height 0s 0s ease-in-out;

    &__link {
        display: inline-block;
        padding: rem($spacer-2 $spacer-4 $spacer-2 44px);
        @include font($font-size-h4, $line-height-h4, $font-weight-medium);
        white-space: nowrap;
        position: relative;
        z-index: 1;

        &-icon {
            float: left;
            font-size: rem($spacer-6);
            margin-left: rem(- $spacer-9);
            transform: rotate(0);
            transition: transform .25s .25s ease-in-out;
        }
    }

    &__popover {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0s 0s ease-in-out;

        &-body {
            padding: rem(0 44px $spacer-3);
        }

        &-text {
            margin-bottom: rem(3px);
            opacity: .8;
        }
    }

    &.is-expanded {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        overflow: visible;
        transition: height 0.25s 0.25s, width 0.25s 0.25s ease-in-out;

        &:before {
            position: absolute;
            top: rem($spacer-4);
            left: rem($spacer-5);
            right: rem($spacer-5);
            bottom: rem(-30px);
            content: '';
            background: inherit;
            opacity: .28;
            filter: blur(48px);
            border-radius: rem($spacer-6);
            z-index: -1;
            pointer-events: none;
        }
    }

    &.is-expanded & {
        &__link {
            display: block;

            &-icon {
                transform: rotate(45deg);
            }
        }

        &__popover {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.25s 0.25s ease-in-out;
            margin-top: rem(-2px);
       }
    }

    &.is-expanded {
        &.is-right {
            left: auto;
            right: 0;
        }

        &.is-bottom {
            top: auto;
            bottom: 0;
        }

        &.is-right.is-bottom {
            top: auto;
            left: auto;
            right: 0;
            bottom: 0;
        }
    }

    @each $key, $value in $tag-colors {
        &-#{$key} {
            @include setProperty('background-color', $value, 'bg');
         }
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}